:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --accent-color: #2196F3;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
    font-style: normal;
    
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.address {
    font-style: normal;
}

img {
    display: block;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/*----------COMPONENT-----------*/
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: #212121;
}

.backdrop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1600px;
    height: 1024px;
    background: rgba(0, 0, 0, 0.2);
    transition: all 250ms var(--timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 250ms linear 250ms;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
    transition: all 250ms linear 0ms;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: all 250ms linear 250ms;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: #FFFFFF;
    border: 0px;
    cursor: pointer;
}


.close {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: #FFFFFF;
}


/*----------END COMPONENT-----------*/


/*----------HEADER-----------*/ 

.portfolio {
    border-bottom: 1px solid #ECECEC;
}

.header .container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
}
.adress-links {
    display: flex;
}

.logo {
    color: #000000;
    margin-right: 94px;
}

.color-logo{
    color: #2196F3;
}

.logo,
.color-logo,
.logo-footer {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.192;
letter-spacing: 0.03em;
}

.navigation-list-link {
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.143;
   letter-spacing: 0.02em;
   color: #212121;
   transition: color 250ms var(--timing-function);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-address-link:hover,
.header-address-link:focus {
    color: var(--accent-color);
}

.navigation-list-item {
    position: relative;
}
 
.navigation-list-item:not(:last-child) {
    margin-right: 50px;
}

.navigation-list-item .current::after {
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
}


.current {
    color: var(--accent-color);
}


.header .address {
    margin-left: auto;
}

.mail-link-svg {
    width:16px;
    height:12px;
    margin-right: 10px;
}


.header-mail:hover .mail-link-svg,
.header-mail:focus .mail-link-svg {
    fill: var(--accent-color);
}

.smartphone-link-svg {
    width:10px;
    height:16px;
    margin-right: 10px;
}

.heder-smartphone:hover .smartphone-link-svg,
.heder-smartphone:focus .smartphone-link-svg {
    fill: var(--accent-color);
}



.adress-links-item:not(:last-child) {
    margin-right: 50px;
}

.adress-links-item:hover svg{
    fill: var(--accent-color);
}

.adress-links-item {
    fill: #757575;
    cursor: pointer;
}


.header-address-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms var(--timing-function);
}
/*----------END HEADER-----------*/


/*----------HERO-----------*/


.hero {
    text-align: center;
    max-width: 1600px;
    margin: 0 auto; 
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
}



.hero-title {
     padding-top: 200px;
     padding-left: 236px;
     padding-right: 236px;
     margin-bottom: 30px;
     font-weight: 900;
     font-size: 44px;
     line-height: 1.364;
     letter-spacing: 0.06em;
     text-transform: uppercase;
     color: #FFFFFF;
}

.modal-btn{
    margin-bottom: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    min-width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 20px;
}


/*----------END HERO-----------*/

/*----------FORM-----------*/

.form-title {
    font-family: var(--main-font);
    font-style: 700;
    font-weight: bold;
    font-size: 20px;
    line-height: 1,15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 12px;
}

.form-field { 
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
}

.form-label {
    display: flex;
    padding-bottom: 4px; 
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 1,167;
    letter-spacing: 0.01em;
    color: #757575;
}

.form-label:nth-last-child(n+2) {
    padding-top: 10px;
}

.form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline-color: var(--accent-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
    border-color: var(--accent-color);
}

.form-field:focus-within .icon {
    fill: #2196F3;
}

.form-field:focus-within .form-input {
    border: 1px solid #2196F3;
}




.form-pericon-svg,
.form-phone-svg,
.form-email-svg {
    position: absolute;
    bottom:11px;
    left: 52px;
    width: 18px;
    height: 18px;

}

.form-coment {
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1,143;
    letter-spacing: 0.01em;
    /*color: rgba(117, 117, 117, 0.5);*/
    resize: none;
    outline-color: var(--accent-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-coment:hover,
.form-coment:focus {
    border-color: var(--accent-color);
}


.form-field:focus-within .form-coment {
    border: 1px solid #2196F3;
}



.form-chekbox {
    margin-top: 20px;
    margin-right: 51px;
    margin-left: 52px;
    margin-bottom: 30px;

}



.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }


.label-checkbox {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
}

.label-checkbox::before {
    display: inline-block;
    content:"";
    width: 16px;
    height: 15px;
    outline: solid 1px #212121;
    margin-right: 8px;
}

.checkbox:checked + .label-checkbox::before {
    background-color: #2196F3;
    background-image: url(../images/form/icon-check.svg);
    outline: solid 1px var(--accent-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

}



.button-submit {
    display: inline-block;
    margin-right: 164px;
    margin-left: 164px;
    margin-bottom: 40px;
    padding: 10 55;

    font-style: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1,875;
    letter-spacing: 0.06em;
    color: #FFFFFF;

    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover,
.button-submit:focus {
    background-color: #188CE8;;
    outline-color: var(--accent-color);
}


/*----------END FORM-----------*/

/*----------FEUTER-----------*/
.feauter-section-section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.feauter-list {
    display: flex;
}

.feauter-list-item::before {
    content: '';
    display: block;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    margin-bottom: 30px;
}

.icon-antena::before {
    background-image: url(../images/feauter/antenna1.svg);
}

.icon-clock::before {
    background-image: url(../images/feauter/clock2.svg);
}

.icon-vector::before {
    background-image: url(../images/feauter/vector3.svg);
}

.icon-astronaut::before {
    background-image: url(../images/feauter/astronaut4.svg);
}



.feauter-list-item:not(:last-child) {
    margin-right: 30px;
    
}

.feauter-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}


.feauter-description{
     width: 270px;
     height: 75px;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.714;
     letter-spacing: 0.03em;
     color: #757575;
}
/*----------END FEUTER-----------*/

/*---------- ABOUT US-----------*/
.about-section-section {
    padding-bottom: 94px;

}

.about-list {
    display: flex;
    justify-content: space-between;
}

.about-section-section .title {
    display: flex;
    padding-bottom: 50px;
    justify-content: center;
}

.about-list-item {
    position: relative;
}



.label{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;

    
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}


/*----------END ABOUT US-----------*/

/*----------OUR TEAM-----------*/
.team-section {
    background: #F5F4FA;
}

.team-list  {
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
}

.team-section .title {
    display: flex;
    padding-top: 94px;
    padding-bottom: 50px;
    justify-content: center;
}

.team-title{
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.team-subtitle{
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
}

.background {
    width: 270px;
    height:428px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;     
}

.social-list {
    display: flex;
    justify-content: space-between;
    margin-left: 32px;
    margin-right: 32px;
    padding-bottom: 30px;
}


.social-list-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #FFFFFF;
    transition: all 250ms var(--timing-function);
}
.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--accent-color);
}


.social-list-link:hover .social-list-svg,
.social-list-link:focus .social-list-svg {
    fill: #FFFFFF;
}


.social-list-svg {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}


/*----------END OUR TEAM-----------*/

/*----------CLIENT----------*/
.client {
    padding-top: 94px;
    padding-bottom: 94px;
}

.client .title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.client-list {
    display: flex;
    justify-content: space-between;
}


.client-item-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    fill: #AFB1B8;
}

.logo-a {
    width: 48px;
    height: 50px;
}

.logo-b {
    width: 40px;
    height: 52px;
}

.logo-c {
    width: 42px;
    height: 42px;
}

.logo-d {
    width: 80px;
    height: 42px;
}

.logo-e {
    width: 60px;
    height: 48px;
}

.logo-f {
    width: 88px;
    height: 46px;
}

.client-item-link:hover,
.client-item-link:focus {
    border: 1px solid var(--accent-color);
}

.client-item-link .client-item-svg{
    transition: all 250ms var(--timing-function);
}


.client-item-link:hover .client-item-svg,
.client-item-link:focus .client-item-svg{
    fill: var(--accent-color);
}

/*---------END-CLIENT----------*/


/*----------FOOTER-----------*/

.footer-section {
    background: #2F303A;
    display: flex;
    flex-direction: row;
}
.footer-section .container {
    display: flex;
    flex-direction: row;
}

.contact-footer {
    margin-right: 70px;
}

.footer-section .logo-footer {
    display: flex;
    padding-top: 60px;
    margin-bottom: 20px;
}

.contact-list-item:not(:last-child) {
    margin-bottom: 10px;
}

.contact-list {
    display: inline-block;
    padding-bottom: 60px
}

.contact-list-link-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #FFFFFF
}

.contact-list-link {
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.logo-footer {
    color: #FFFFFF;
}

.social-footer {
    width: 206px;
    height: 80px;
    padding-top: 72px;
    padding-bottom: 100px;
}

.social-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF
    

}
.social-footer-list {
    display: flex;
}

.social-footer-list-item:not(:last-child) {
    margin-right: 10px;
}

.social-footer-list-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background :rgba(255, 255, 255, 0.1);
    transition: all 250ms var(--timing-function);
}

.social-footer-list-svg {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

.social-footer-list-link:hover,
.social-footer-list-link:focus {
    background-color: var(--accent-color);
}

.mailing {
    padding-top: 72px;
    padding-bottom: 94px;
    margin-left: auto;

}

.mailing-title {
    display: block;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.form-mailing {
    display: flex;
    align-content: center;
    
}



.mail-field{
    margin-right: 12px;
}


.mailing-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 16px 15px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    
}


.mailing-button {
    display: flex;
    align-items: center;
    padding-left: 29px;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
}

.button-send {
    position: relative;
    
}


.send {
    position: absolute;
    top: 13px;
    right: 28px;
    width: 24px;
    height: 24px;
}

/*----------END FOOTER-----------*/


/*----------FILTER-----------*/
.filter-section {
    padding-top: 96px;
}


.filter-list {
    display: flex;
    justify-content: center;
}
.filter-list-item:not(:last-child) {
    margin-right: 8px;
}


.filtr-btn {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    border: 1px solid #F5F4FA;
    transition: all 250ms var(--timing-function);
}

.filtr-btn:hover,
.filtr-btn:focus {
    background: #2196F3;
    color: #FFFFFF;
}

/*----------PORTFOLIO-----------*/
.portfolio-section-section {
    padding-top: 34px;
    padding-bottom: 94px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list-item {
    width: 370px;
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-item:nth-child(3n+3) {
    margin-right: 0px;
}

.portfolio-list-item:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

.portfolio-list-item:hover .overlay,
.portfolio-list-item:focus .overlay {
    transform: translateY(0%);
}


.portfolio-list-img-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-title {
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.000;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-subtitle {
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: all 250ms var(--timing-function); 
}

 .overlay-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 64px 22px;
    
 }
